<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @design_axi.name %>
</p>

<p>
  <strong>Parameter:</strong>
  <%= @design_axi.parameter %>
</p>

<p>
  <strong>Version:</strong>
  <%= @design_axi.version %>
</p>

<%= link_to 'Edit', edit_design_axi_path(@design_axi) %> |
<%= link_to 'Back', design_axis_path %>
