<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @argument.value %>
</p>

<p>
  <strong>Simulation:</strong>
  <%= @argument.simulation %>
</p>

<p>
  <strong>Parameter:</strong>
  <%= @argument.parameter %>
</p>

<%= link_to 'Edit', edit_argument_path(@argument) %> |
<%= link_to 'Back', arguments_path %>
